*{
    box-sizing: border-box;
}

/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@500&display=swap');

/* ---------Common-Syles-------- */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 100%;
}

.description {
    color: #727272;
    font-size: 16px;
    font-weight: 450px;
}

/* ---------Nav-Bar--------- */
header {
    background: rgba(255, 144, 14, 0.1);
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-around;   
}

.items {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.item {
    padding: 20px;
    flex-wrap: wrap;
}

/* ---------Banner-Section-------- */

.banner-container {
    height: 120vh;
    /* width: 100%; */
    max-width: 100%;
}

.banner-title {
    text-align: center;
}

.banner-title h1 {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.btn-explore {
    border: none;
    padding: 15px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
}

.banner-image img {
    border-radius: 8px;
    /* width: 80%; */
    height: 70%;
    margin: 40px 130px;
    max-width: 80%;
}

/* ------------Section----------- */

.container {
    /* display: flex; */
    height: 80vh;
    max-width: 80%;
    /* width: 80%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0 130px 130px;   
}

.left-container {
    width: 700px;   
}

.left-container img {
    border-radius: 8px;
    width: 300px;
    height: 300px;  
}

.right-container {
    justify-content: center;
    width: auto;
    padding-top: 100px;
}

.right-container h2{
    font-weight: 500;
    font-size: 45px;
}

.quick-list{
    color: #727272;   
}

.features{
   color: #FF900E; 
}

/* --------Main-Section---------- */

.main-container {
    display: flex;
    margin: 0 125px;
    height: 150vh;
    padding-top: 50px;
    gap: 10px;
    /* margin-top: 50px; */
    
    width: 80%;
}

.container-title h2 {
    font-weight: 700;
    font-size: 45px;
    border-left: 7px solid #FF900E;
    padding-left: 10px;
}
.sub-container{
    padding-bottom: 20px;
}
    

.container-info {
    width: 550px;
    height: 150px;
    background: #FFFFFF;
    padding-left: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    grid-row-gap: 15px;
}

.container-info h3 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 15px;
}

.container-image img {
    width: 560px;
    height: 950px;
    padding-left: 15px;
}

.btn-experience {
    border: none;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    width: 250px;
    height: 140px;

    padding: 15px;
    font-weight: 700;
    font-size: 35px;
    position: relative;
    justify-content: center;
}

.primary {
    justify-content: center;
    margin: 0 660px;
    margin-top: -260px;
}

.primary small{
    font-size: 14px;
    font-weight: 400px;
}

/* -------Some Facts Section--------- */
.some-facts-section {
    margin: 100px 120px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
}

.box-items {
    display: flex;
    justify-content: space-around;
    margin: 100px 10px;
}

.number {
    font-weight: 600;
    font-size: 25px;
   
}
.box-item ,.box-item-right{
    background-color: rgba(255, 143, 14, 0.100);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #FF900E;
    font-weight: 600;
    color: #424242;
    transition: all .3s linear;
    height: 200px;
    width: 200px;
}

.box-item:hover {
    transform: rotateY(360deg);
    background-color: rgba(255, 143, 14);
    transform: rotate(-5deg) scale(105%);
    transition: all .3s linear;
}
.box-item-right:hover {
    transform: rotateY(360deg);
    background-color: rgba(255, 143, 14);
    transform: rotate(5deg) scale(105%);
    transition: all .3s linear;
}

/* ------------Sponspor-Section-------------- */

.sponspor-section {
    text-align: center;
    margin: 50px 130px;
}

.logo-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logo-items {
    width: 95.83px;
    height: 30px;
}

.sponspor-section h2 {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}

/* --------Extra-Section-------- */

.extra-section{
    width: 80%;
    height: 40vh;
    margin: 80px 130px;
    background: #f5c894;
   
    text-align: center;
    padding-top: 50px;
    font-size: 20px;   
}

.social .fa-brands{
    height: 30px;
    width: 30px;  
}


/* -------Footer---------- */
.footer {
    width: 80%;
    height: 50px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    margin: 70px 130px; 
}

.copyright {
    color: #424242;
    font-weight: 400;
    font-size: 14px;
}

/* ------Media-Quariy---------- */
 @media only screen and (max-width:576px) {
    body{
        max-width: 100%;

    }
    


    
 }
